@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:400|Raleway:400);
body {
  font-family: "Noto Sans", sans-serif;
}

.wrap {
  width: 1900px;
  margin: 0 auto;
}
/* -------------------------------------
 * Bar container
 * ------------------------------------- */

.progress-radial {
  float: left;
  margin-right: 10px;
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */

.progress-radial .overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 145px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway';
}

.progressbar-text {
  font-weight: bolder;
  font-style: italic;
  font: 400 150% 'Raleway';
}