body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

.clear-fix {
  overflow: auto;
}

h1 {
  font-size: 40px;
  color: #668088;
  line-height: 48px;
  display: inline;
  font: 900 400% 'Raleway';
}

h2 {
  color: #212c38;
  background-color: #668088;
  line-height: 29px;
  padding: 10px;
  font: 400 200% 'Raleway';
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

hr {
  border-color: #344456;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #079ca7;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.welcome-message {
  font-family: 'Yanone+Kaffeesatz', serif; /* font */
  font-size: 40px;
  color: #e9a729;
  line-height: 20px;
  float: right;
  margin-top: 18px;
  font-weight: 700;
  font-style: italic;
}

#skills {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
<<<<<<< HEAD
  -webkit-justify-content: flex-start;
=======

>>>>>>> gh-pages
}

#skills-h3 {
  color: #668088;
  display: none;
  padding-top: 20px;
  font: italic 400 200% 'Raleway';
}

.footer-connect {
  background-color: #e9a729;
  color: #212c38;
}

.blue-text {
  color: #e9a729;
}

.white-text {
  font-weight: bold;
  color: #fffde8;
  font: 400 100% 'Raleway';
}

.star-rating {
  color: #b8c400;
  float: right !important;
}

.pale-yellow {
  background-color: #fffde8;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-color: #212c38;
}

.flex-box {
  display: -webkit-flex;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
<<<<<<< HEAD
  -webkit-flex-wrap: wrap;
=======
   -webkit-flex-wrap: wrap;
>>>>>>> gh-pages
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 10px;
}

.flex-box-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
<<<<<<< HEAD
  -webkit-flex-wrap: wrap;
=======
   -webkit-flex-wrap: wrap;
>>>>>>> gh-pages
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 10px;
  height: 100px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 220px;
  display: none;
  border-radius: 50%;
  -webkit-filter: blur(1.2px) opacity(0.8) sepia(0.3) saturate(1) brightness(0.8) contrast(1.5) drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: blur(1.2px) opacity(0.8) sepia(0.3) saturate(1) brightness(0.8) contrast(1.5) drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #fffde8;
  font: 400 100% 'Raleway';
}

#lets-connect {
  text-align: center;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  #skills-h3, #skills {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 3%;
}

@media only screen and (min-width: 750px) {
  #skills-h3, .biopic {
    display: block;
  }
}

/* Project Experience styling */

#projects {
  background: #272829;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif, 'trebuhet ms', HelveticaNeue, arial;
  height: 100%;
  line-height: 20px
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

#project-container,
#work-container {
  justify-content: center;
  text-align: center;
}

#projects p {
  color: #e8bc0c;
}

p {
  line-height: 2.0em
}

h1 {
  font-size: 3.0em;
  line-height: 40px
}

a {
  text-decoration: none;
  color: rgba(192, 208, 224, 0.92)
}

a:hover {
  color: #fff
}

img {
  max-width: 100%
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding: 20px
  }
}

.pic {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  margin: 10px;
  display: inline-block;
  -webkit-animation: anima 2s;
  -moz-animation: anima 2s;
  -o-animation: anima 2s;
  -ms-animation: anima 2s;
  animation: anima 2s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden
}

.pic-3d {
  -webkit-perspective: 500;
  -moz-perspective: 500;
  -o-perspective: 500;
  -ms-perspective: 500;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.pic-caption {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.92);
  padding: 2px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0
}

.pic-image {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.pic:hover .pic-image {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.pic img {
  background: #fffde8;
  padding: 10px;
}

.pic-title {
  font-size: 1.4em
}

a,
a:hover,
.pic .pic-image,
.pic-caption,
.pic:hover .pic-caption,
.pic:hover img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.pic:hover .open-down {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

.open-down {
  top: 50%;
  left: 0
}

.pic:hover .open-down {
  top: 0;
  left: 0
}

@media screen and (max-width: 560px) {
  .pic {
    max-width: 400px;
    max-height: 300px;
    display: block;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    margin: 10px auto
  }
}

/* Work Experience Styles */

#workExperience {
  background: #272829;
  color: #fff;
  font-size: 14px;
  font-family: 'Lato';
  height: 100%;
  line-height: 20px;
}

.work-container {
  width: 100%;
  margin: 0 auto;
}

.work-entry {
  background: #fffde8;
  padding: 5px;
}

.work-employer {
  background: #212c38!important;
  color: #fff;
  font-size: 1.2em!important;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.8em;
  font-weight: 600;
  text-align: center;
  font-size: 1.4em;
  background: #f8fafa;
  padding: 10px;
  text-transform: none;
  font: 400 200% 'Raleway';
}

.work-title {
  text-decoration: none;
  text-transform: none;
  color: #c03423;
  font: bold 150% 'Raleway';
  padding: 0;
  background: none;
}

.work-dates {
  background: #e9a729;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
  color: #212c38;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font: 900 100% 'Lato';
}

p {
  color: #212c38;
  margin: 0 5px 15px 5px;
  font: 400 100% 'Raleway';
}

.work-description {
  border-top: 1px solid #6690b7;
  font-family: 'Lato';
}

/* Education Styles */

#education,
.online-container {
  padding: 20px 0;
  background: #272829;
  font-family: 'Raleway';
  line-height: 1.4;
  color: #fffde8;
}

.education-school {
  font-style: normal;
  color: #fffde8;
  font-family: 'Raleway';
}

.eqWrap {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #fffde8;
  border-bottom: 1px solid #fffde8;
}

.eq {
  padding: 10px;
}

.eq:nth-of-type(odd) {
  background: #304b69;
}

.eq:nth-of-type(even) {
  background: #304B69;
}

.equalHW {
<<<<<<< HEAD
  -webkit-box-flex: 1;
=======
  -webkit-flex: 1;
>>>>>>> gh-pages
  flex: 1;
}

.center {
  text-align: center;
}

.school-location {
  padding-bottom: 10px;
}

.school-location::after {
  content: ' ';
  display: block;
  border: 1px solid #fffde8;
  width: 30%;
  margin-left: 35%;
}

p.date-text {
  margin-top: 0;
}

.online-entry {
  background-image: radial-gradient(ellipse farthest-corner at center top, #afd7bf 5%, #7C99B9 100%) !important;
  color: #000;
  -webkit-box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 7px 18px 0px rgba(0, 0, 0, 0.4);
  max-width: 350px;
  max-height: 100px;
  min-width: 350px;
  margin: 10px;
  padding: 10px;
}

p.month {
  float: left;
  background: #c03423;
  margin-left: -10px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 1em;
  border-top-left-radius: 0.1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 0.1em;
  width: 120px;
  -webkit-filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.9));
  border: 1px dashed #fff;
  box-shadow: 0 0 0 4px #c03423, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

span.year {
  border-top: 2px solid #000;
  color: #000;
  padding: 0;
  font-weight: bold;
}

.course {
  margin-top: 10px;
  font-weight: bold;
}

p.school {
  margin-top: 0;
  margin-bottom: 0;
}